<!DOCTYPE html>
<html>

<head>
    <title>Chat</title>

    <link rel="stylesheet" href="css/chat.css">

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dompurify/dist/purify.min.js"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlight.js/styles/github-dark.min.css">


    <script type="text/javascript" src="js/chat.js"></script>

</head>

<body>
    <div class="chat-window" id="chatWindow">

    </div>
    <div class="userInput">
        <input class="messageInput" type="text" id="messageInput" placeholder="Type your message..."
            onkeydown="handleKeyDown(event)" autofocus>
        <button class="sendButton" onclick="sendMessage()">
            <img src="/icons/paper-plane-solid.svg" alt="Icon">
        </button>
        <button class="deleteHistory" onclick="deleteHistory()">
            <img src="/icons/delete-button.svg" alt="Icon"
                style="width: 100%; filter: invert(0.5) sepia(1) saturate(100) hue-rotate(0deg);">
        </button>
    </div>
    <p style="position: absolute; bottom: 0px; width: 100%; text-align: center; margin-bottom: 0px;">
        Das ist eine Test Website von Magnus und Pius.<br>
        Die Ai kann stuss erzählen.
    </p>
</body>

</html>