<!DOCTYPE html>
<link rel="stylesheet" href="style.css">

<h1>Welcome, <%= username %>!</h1>

<div class="grid-container">
  <a class="grid-item sd-logo" href="/sd"></a>
  <div class="grid-item comingsoon">2</div>
  <div class="grid-item comingsoon">3</div>
</div>

<form action="/logout" method="POST">
  <button type="submit">Logout</button>
</form>
