<link rel="stylesheet" href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<form class="sdsubmitbox" action="/sd-submit" method="POST">
    <input type="text" id="prompt" name="prompt" value= "<%= prompt %>" placeholder="Prompt"><br><br>
    <input type="text" id="negprompt" name="negprompt" value= "<%= negprompt %>" placeholder="Negative Prompt"><br><br>
    <button type="submit">Submit</button>
</form>

<div id="image-container">
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
    const eventSource = new EventSource('/sd-events');

    eventSource.onmessage = function(event) {
        const data = JSON.parse(event.data);
        const imgElement = document.createElement('img');
        imgElement.src = `uploads/${data.imagepath}`;
        imgElement.alt = 'Generated Image';
        imgElement.classList.add('image');

        imgElement.onload = function() {
            const imageContainer = document.getElementById('image-container');
            // Remove all existing children
            while (imageContainer.firstChild) {
                imageContainer.removeChild(imageContainer.firstChild);
            }
            // Append the new image
            imageContainer.appendChild(imgElement);
        };
    };
});
</script>

