<!DOCTYPE html>

<html>

<head>
    <title>Settings</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, interactive-widget=resizes-content" />
    <script type="text/javascript" src="js/settings.js"></script>
    <link rel="stylesheet" type="text/css" href="css/settings.css">
</head>

<body>
    <h1>Settings</h1>
    <h2 style="margin-bottom: 0px;">Users:</h2>
    <table id="userTable"></table>
    <hr>
    <button class="newUser" onclick="location.href='/newUser'">
        <span class="button-text">New User</span>
    </button>

    <h2>Chat:</h2>
    <label for="chatEnabled">Chat Enabled:</label>
    <input type="checkbox" id="chatEnabled" name="chatEnabled">

    <dropdown id="modelDropdown">
        <label for="model">Model:</label>
        <select id="selectmodel" name="model">
            <option value="mixtral">Mixtral 8x7b</option>
            <option value="llama2:70b-chat">Llama2:70b</option>
            <option value="Llama2:13b-chat">Llama2:13b</option>
            <option value="llama3:latest">Llama3</option>
            <option value="llama3:70b-text">Llama3:70b</option>
            <option value="Llava">Llava</option>
        </select>
    </dropdown>
    <a href="/" class="home">Home</a>
</body>

</html>

<script>
    chatEnabled = "<%= chatEnabled %>"
    model = "<%= model %>"
</script>