:root {
    --color-primary: #3088ca;
    --color-primary-bright: #88afcc;
    --color-secondary: #f0f0f0;
    --background-color: #ffffff;
    --text-color: black;
}


@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --color-primary: #3088ca;
        --color-primary-bright: #88afcc;
        --color-secondary: #f0f0f0;
        --background-color: #242424;
        --text-color: white;
    }
}


.chat-window {
    position: absolute;
    height: calc(100% - max(8%, 90px));
    width: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    padding-bottom: 0px;
    margin: 10px;
    margin-bottom: 0px;
}

.userInput {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: max(5%, 50px);
    align-items: center;
    display: flex;
    flex-shrink: 1 0 auto;
}

.messageInput {
    position: relative;
    width: 50%;
    margin-left: 25%;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 30px;
    font-size: 20px;
    margin-bottom: 15px;
    background-color: var(--input-color);
    color: var(--text-color);
}

.deleteHistory {
    position: relative;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: 30px;
    margin-bottom: 15px;
    flex-shrink: 0;
}

.sendButton {
    position: relative;
    padding: 10px;
    border: none;
    background-image: linear-gradient(45deg, var(--color-primary), var(--color-primary-bright));
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    flex-shrink: 0;
}

pre {
    position: relative;
    /* Establishes a new positioning context for children */
    overflow: auto;
    /* Allows for scrolling within the pre block */
    background-color: #0e1117;
    padding: 10px;
    margin-top: 0px;
    /* Adds space between consecutive code blocks */
    border-radius: 5px;
    /* Ensure there's space for the copy button inside the pre element */
    padding-right: 60px;
    /* Adjust based on the size of your copy button */
}

.copy-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    z-index: 10;
}

.run-btn {
    position: absolute;
    top: 35px;
    right: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #00ff80;
    color: rgb(0, 0, 0);
    z-index: 10;
}

.lanLabel {
    position: absolute;
    top: 9px;
    right: 65px;
    padding: 1px 5px;
    border: none;
    border-radius: 5px;
    background-color: #e0e0e0;
    color: black;
    margin-right: 10px;
    z-index: 10;
}

mjx-container {
    text-align: left !important;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--background-color);
}

.userMessage {
    display: flex;
    justify-content: left;
    align-items: center;
}

.botMessage {
    display: flex;
    justify-content: left;
    align-items: center;
}

.botMessage>p {
    margin-top: 4px;
    width: 100%;
    color: var(--text-color);
}

.userMessage>p {
    color: var(--text-color);
}

.botImage {
    position: relative;
    margin-top: 15px;
    margin-bottom: auto;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 10px;
    background-color: yellow;

}

.userImage {
    position: relative;
    margin-top: 15px;
    margin-bottom: auto;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 10px;
    background-color: lightgreen;
}

@media (max-width: 768px) {
    .messageInput {
        width: 90%;
        margin-left: 5%;
    }

    .deleteHistory {
        margin-right: 5px;
    }
}