<!-- FILEPATH: /d:/projects/Render Upscale Service/views/home.ejs -->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/home.css">
  <script type="text/javascript" src="js/home.js"></script>
  
</head>
<body>
  <div class="container">
    <h1>Welcome, <%= username %>!</h1>

    <div class="grid-container" id="grid-container">
      <a class="grid-item" href="/sd">
        <img src="/icons/stable_diffusion_logo.png" alt="SD Logo">
      </a>
      <a class="grid-item" href="/chat">
        <img src="/icons/llama.png" alt="Chat Logo">
      </a>

      <a class="grid-item" href="/secure">
        <img src="/icons/messenger.png" alt="P2P Logo">
      </a>

    </div>
    
  </div>
  <div id="buttons">

    <button class="logout button" onclick="location.href = '/logout'">
      <span class="button-text">Logout</span>
    </button>

    <button class="settings button" onclick="location.href = '/settings'">
      <span class="button-text">Settings</span>
    </button>

    <button class="profile button" onclick="location.href = '/profile'">
      <span class="button-text">Profile</span>
    </button>
  </div>
</body>
</html>

<script>
  username = "<%= username %>"
  setAdmin("<%= admin %>");
  document.body.style.setProperty('--num-tiles', document.getElementById("grid-container").children.length);
</script>
