<!-- FILEPATH: /d:/projects/Render Upscale Service/views/login.ejs -->
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="css/login.css">
  <title>Login Page</title>
</head>

<body>
  <h1>Login</h1>
  <form action="/login" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required autocomplete="username" autocapitalize="sentences"><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required autocomplete="current-password"><br><br>
    <input type="submit" value="Submit">
  </form>
</body>

</html>