<!DOCTYPE html>
<html>

<head>
    <title>Settings Page</title>
</head>

<body>
    <h1>Settings</h1>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, interactive-widget=resizes-content" />

    <form action="/createUser" method="POST">
        <label for="username">Username:</label>
        <input type="username" id="username" name="username" required autocomplete="username"><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required autocomplete="new-password"><br><br>

        <label for="admin">Admin:</label>
        <input type="checkbox" id="admin" name="admin"><br><br>

        <input id="submit" type="submit" value="Create User">
    </form>
</body>

</html>