.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-item {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  aspect-ratio: 1 / 1;
}

.sdsubmitbox {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  margin-top: 20px;
}

.comingsoon {
  background-color: rgb(184, 184, 184);
}

form {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.uploadimg {
  width: 40%;
  height: 100vh;
  object-fit: contain;
}

.image {
  height: 50%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
}