.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-item {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  aspect-ratio: 1 / 1;
}

.comingsoon {
  background-color: rgb(184, 184, 184);
}

form {
  margin-top: 20px;
}

.logout-button {
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
}

.image {
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
}

.sd-logo {
  background-image: url("images/stable_diffusion_logo.png");
  background-size: cover;
  background-position: center;
}

.sd-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}


.sdsubmitbox {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  margin-top: 20px;
}

.img-container {
  height: 50%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
}

.back-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}