.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-item {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  aspect-ratio: 1 / 1;
}

.upscale {
  background-image: url("/images/Upscale.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.comingsoon {
  background-color: rgb(184, 184, 184);
}

form {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.uploadimg {
  width: 40%;
  height: 100vh;
  object-fit: contain;
}