.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-item {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  aspect-ratio: 1 / 1;
  width: 100px;
}

.comingsoon {
  background-color: rgb(184, 184, 184);
}

form {
  margin-top: 20px;
}

.logout-button {
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
}

.image {
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
}

.sd-logo {
  background-image: url("images/stable_diffusion_logo.png");
  background-size: cover;
  background-position: center;
}

.chat-logo {
  background-image: url("images/llama.png");
  background-size: cover;
  background-position: center;
}

.sd-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}


.sdsubmitbox {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  margin-top: 20px;
}

.img-container {
  height: 50%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
}

.back-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.sd-model-selector {
  cursor: pointer;
}

.sd-instant {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
  text-align: center;
  margin-top: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 50px;
}

.grid-item {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sd-logo {
  background-image: url("images/stable_diffusion_logo.png");
  background-size: cover;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

.comingsoon {
  background-color: #f9f9f9;
  background-size: cover;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  color: #999;
}

.logout-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #555;
}